
<body class="text-center"> 
  <main class="w-75 m-auto mt-5 h-100">
    <form (submit)="onSubmit()">
      <h1 class="h3 mb-3 fw-normal">Register a new account</h1>

      <div class="form-floating p-3">
        <input type="text" [(ngModel)]="name" name="name" class="form-control">
        <label for="floatingInput">Name</label>
      </div>

      <div class="form-floating p-3">
        <input type="text" [(ngModel)]="username" name="username" class="form-control">
        <label for="floatingInput">Username</label>
      </div>

      <div class="form-floating p-3">
        <input type="text" [(ngModel)]="email" name="email" class="form-control">
        <label for="floatingInput">Email address</label>
      </div>
    
      <div class="form-floating p-3">
        <input type="password" [(ngModel)]="password" name="password" class="form-control">
        <label for="floatingPassword">Password</label>
      </div>
      
      <button class="w-25 btn btn-md btn-primary" type="submit">Sign Up</button>
      <p class="mt-5 mb-3 text-muted">&copy; Oskari Kivekäs 2022</p>
    </form>
  </main>   
</body>